@import "tailwindcss";

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikCondensedPro-Regular.woff2') format('woff2'),
       url('/fonts/AeonikCondensedPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: #FFFFFF;
  --color-light: #ECECEC;
  --color-dark: #2B2B2B;
  --color-pop: #DEEC1C;
}

